@import "tailwindcss/base"
@import "https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
@import "tailwindcss/components"
@import "tailwindcss/utilities"
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap"
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
@import "https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap"
@import "https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css"
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"

@font-face
    font-family: FontAwesome
    src: url("../fonts/FontAwesome.otf") format("opentype")

html, body 
    font-family: 'Nunito', sans-serif

.dancing-script 
    font-family: 'Dancing Script', cursive

